<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danie.flexicuapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login" android:icon="@drawable/flexicu_toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OpretAnsat" />
        <activity android:name=".MineUdlejninger" />
        <activity android:name=".MineIndlejninger" />
        <activity android:name=".Udlej" />
        <activity android:name=".Indlej" />
        <activity android:name=".Navigation" />
        <activity android:name=".FiltreTilIndlej"></activity>
    </application>

</manifest>