<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.danie.flexicuapplication">

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEmployee" />
        <activity android:name=".MyRentOuts" />
        <activity android:name=".MyRentIns" />
        <activity android:name=".RentOut" />
        <activity android:name=".RentIn" />
        <activity android:name=".Navigation" />
        <activity android:name=".FiltersRentOut" />
        <activity android:name=".TestActivity" />
        <activity android:name=".CreateEmployeeYear" />
        <activity android:name=".CreateEmployeeProfession" />
        <activity android:name=".CreateEmployeeDescription" />
        <activity android:name=".CreateEmployeeImage" />
        <activity android:name=".CreateEmployeeZipcode" />
        <activity android:name=".CreateEmployeeFinish"></activity>
    </application>

</manifest>