<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.danie.flexicuapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="stateHidden"
        android:name=".LogicLayer.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".GUI.TabbedRentIn"
            android:label="@string/title_activity_tabbed_rent_in"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".GUI.TabbedRentOut"
            android:label="@string/title_activity_tabbed_rent_out"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GUI.CreateUser_password"></activity>
        <activity android:name=".GUI.CreateUser_photo" />
        <activity android:name=".GUI.CreateUser_infomation" />
        <activity android:name=".GUI.CreateUser_cvr" />
        <activity android:name=".GUI.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.CreateEmployee" />
        <activity android:name=".GUI.MyRentOuts" />
        <activity android:name=".GUI.MyRentIns" />
        <activity android:name=".GUI.RentOut" />
        <activity android:name=".GUI.RentIn" />
        <activity android:name=".GUI.Navigation" />
        <activity android:name=".GUI.FiltersRentIn" />
        <activity android:name=".GUI.CreateEmployeePay" />
        <activity android:name=".GUI.CreateEmployeeDistance" />
        <activity android:name=".GUI.CreateEmployeeYear" />
        <activity android:name=".GUI.CreateEmployeeProfession" />
        <activity android:name=".GUI.CreateEmployeeDescription" />
        <activity android:name=".GUI.CreateEmployeeImage" />
        <activity android:name=".GUI.CreateEmployeeZipcode" />
        <activity android:name=".GUI.CreateEmployeeFinish" />
        <activity android:name=".GUI.PreIndlej" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="243681149e701f64f3e01a1c62b0a5362858d0fd" />
    </application>

</manifest>